.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: transparent;
    position:fixed;
}

.navbar-grid {
    width: 50vh;
    height: 60vh;
    background: rgb(31,169,221);
    background: linear-gradient(180deg, rgba(31,169,221,1) 50%, rgba(41,225,194,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 100;
}

.navbar-container div div {
    font-size: 30px;
    cursor: pointer;
}

@media only screen and (min-width: 550px) {
    .navbar-container {
        width: 80%;
    }
    .navbar-grid {
        width: 100%;
        height: 80%;
    }
}