* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  background-color: rgb(19, 22, 30);
}

.Home-component,
.NavBar-component,
.AboutMe-component,
.BurgerIcon-component,
.Projects,
.Contact {
  height: 100%;
  width: 100%;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (min-width: 850px) {
}
