.contact-container {
    height: 100%;
    color: rgb(138, 160, 173);
    background-color: rgb(19, 22, 30);
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
}

.contact-container-2 {
    width: 80%;
    height: 100vh;
}

.contact-heading {
    padding: 2vh 0 0 0;
    color: rgb(216, 230, 238);
    font-size: 26px;
    font-family: 'Fira Code', monospace;
}

.contact-description {
    font-size: 14px;
    margin-top: 3vh;
}

.contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap: 1vh;
}

.contact-name, .contact-email, .contact-message {
    border: 2px solid rgb(58, 73, 84);
    height: 6vh;
    width: 100%;
    padding-left: 2vh;
    background-color: rgb(19, 22, 30);
    color: rgb(68, 87, 99);
    font-size: 14px;
}

.contact-message {
    height: 25vh;
    padding-top: 1vh;
    font-size: 14px;
    resize: none;
}

.contact-submit-grid {
    margin-top: 1vh;
}

.contact-submit {
    border: 2px solid rgb(38, 207, 202);
    padding: 5px 10px 5px 10px;
    background-color: rgb(19, 22, 30);
    color: rgb(34, 180, 199);
    font-size: 20px;
    cursor: pointer;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

footer {
    color: rgb(28, 75, 103);
    margin-bottom: 1vh;
}