@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

.home-container {
    background-color: rgb(19, 22, 30);
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.home-box {
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.home-header {
    font-size: 35px;
    font-family: 'Rozha One', serif;
}

.home-name, .home-prof, .home-prof-2 {
    margin: 0;
    margin: -17px 0 -17px 0;
}

.home-name {
    color: rgb(216, 230, 238);
}

.home-prof {
    color: rgb(33, 179, 216)
}

.home-prof-2 {
    margin-bottom:auto;
    color: rgb(40, 219, 197)
}

.home-description {
    color: rgb(133, 155, 168);
    font-size: 14px;
    width: 90%;
}

.home-contact {
    margin-top: 2vh;
    border: 2px solid rgb(38, 207, 202);
    padding: 5px 10px 5px 10px;
    background-color: rgb(19, 22, 30);
    color: rgb(34, 180, 199);
    font-size: 20px;
    cursor: pointer;
    font-family: 'Fira Code', monospace;
    width: fit-content;
}

.yes {
    color: white;
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
}

@media only screen and (min-width: 550px) {
    .home-header {
        font-size: 3.5rem;
    }

    .home-description {
        font-size: 1.1rem;
    }

    .home-contact:hover {
        background-color: rgb(15, 45, 122);
    }
}